.cate-laptop-container {
  position: relative;
}

.cate-lap-slide-container {
  overflow: hidden;
  background: #181818;
}

.cate-lap-image-wrapper {
  transition: transform 0.3s ease-in-out;
}

.cate-lap-slide-container:hover .cate-lap-image-wrapper {
  transform: scale(1.05);
}

.cate-lap-next,
.cate-lap-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(20px);
  width: 45px; /* Giảm kích thước nút */
  height: 45px; /* Giảm kích thước nút */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.3s ease;
}

.cate-lap-slide-container:hover .cate-lap-next,
.cate-lap-slide-container:hover .cate-lap-prev {
  opacity: 1;
}

.cate-lap-next {
  right: 0;
  transform: translateY(-50%) translateX(24px);
}

.cate-lap-prev {
  left: 0;
  transform: translateY(-50%) translateX(-24px);
}

.cate-lap-next:hover {
  transform: translateY(-50%) translateX(24px) scale(1.2);
}

.cate-lap-prev:hover {
  transform: translateY(-50%) translateX(-24px) scale(1.2);
}

.cate-lap-next::after,
.cate-lap-prev::after {
  content: "";
  width: 8px; /* Giảm kích thước mũi tên */
  height: 8px; /* Giảm kích thước mũi tên */
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
}

.cate-lap-next::after {
  transform: rotate(-135deg);
}
