.category-grid {
  width: 100%;
  max-width: 1200px;
  margin: 25px auto;
  position: relative;
  padding-top: 10px;
}

.category-item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;

  transition: transform 0.3s ease-in-out;
}

.category-item:hover img {
  transform: scale(1.05);
}

.category-item {
  text-align: center;
}

.category__card {
  background-color: #323232;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category-next,
.category-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(0);
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.category-grid:hover .category-next,
.category-grid:hover .category-prev {
  opacity: 1;
  transform: translateY(-50%) translateX(0);
}

.category-next {
  right: -15px;
  transform: translateY(-50%) translateX(10px);
}

.category-prev {
  left: -25px;
  transform: translateY(-50%) translateX(-10px);
}

.category-next::after,
.category-prev::after {
  content: "";
  width: 10px;
  height: 10px;
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
}

.category-prev::after {
  transform: rotate(-135deg);
}

/* Các style khác của component */
