.category-grid {
  position: relative;
}

.category-item img {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px; /* Giảm margin bottom */
  transition: transform 0.3s ease-in-out;
  width: 100px; /* Giảm kích thước hình ảnh */
  height: 100px; /* Giảm kích thước hình ảnh */
}

.category-item:hover img {
  transform: scale(1.05);
}

.category-item {
  text-align: center;
}

.category__card {
  background-color: #323232;
  border-radius: 15px; /* Giảm border radius */
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 18px 50px; /* Giảm padding */
}

.category-next,
.category-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(20px);
  width: 45px; /* Giảm kích thước nút */
  height: 45px; /* Giảm kích thước nút */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.3s ease;
}

.category-grid:hover .category-next,
.category-grid:hover .category-prev {
  opacity: 1;
}

.category-next {
  right: 0;
  transform: translateY(-50%) translateX(24px);
}

.category-prev {
  left: 0;
  transform: translateY(-50%) translateX(-24px);
}

.category-next:hover {
  transform: translateY(-50%) translateX(24px) scale(1.2);
}

.category-prev:hover {
  transform: translateY(-50%) translateX(-24px) scale(1.2);
}

.category-next::after,
.category-prev::after {
  content: "";
  width: 8px; /* Giảm kích thước mũi tên */
  height: 8px; /* Giảm kích thước mũi tên */
  border-top: 2px solid #333;
  border-right: 2px solid #333;
  transform: rotate(45deg);
}

.category-prev::after {
  transform: rotate(-135deg);
}

.category__card p {
  font-size: 0.8rem; /* Giảm kích thước chữ */
  margin-top: 5px; /* Giảm margin top */
}
